.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #4a6cb0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header img{
  height: 40vmin;
  pointer-events: none;

}

.App-link {
  color: #61dafb;
}
.whatIs {
  background-color: #282c34;
  height: 75vh; /* Adjust height as needed */
  display: flex;
  align-items: center; /* Centers items vertically */
  justify-content: space-between; /* Spaces out the h1 and p */
  color: white;
  padding: 0 100px; /* Adds padding on the left and right */
}

.whatIs h1, .whatIs p {
  flex: 1; 
  /* Allows both h1 and p to grow and take up equal space, if needed */
  /* Additional styling specific to h1 and p can go here */
}

.whatIs h1 {
  text-align: left; /* Ensures h1 text aligns to the left */
  padding-right:  100px
}

.whatIs p {
  padding-left: 300px; /* Adds padding to the left of the paragraph text */
  text-align: right; /* Ensures paragraph text aligns to the right */
  text-align: start; /* Justifies paragraph text */
  padding-right: 20px; /* Adds padding to the right of the paragraph text */
}

.Screenshots{
  background-color: #9d6bde;
  height: 50vh; /* Adjust height as needed */
  display: flex;
  /*justify-content: center; /* Centers items horizontally */
  /*align-items: center; /* Centers items vertically */
  color: white;
}

.Screenshots h1{
  text-align: center; /* Ensures h1 text aligns to the center */
  padding-right:  100px;
  margin-left: 300px;
 justify-content: center;
  /*padding-top: 200px;  */
}
/* Keyframes for spinning logo */

.App-logo-spin {
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
