.header{
    background-color: whitesmoke;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    min-height: 800px;
    
}

.header button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5d4cfc;
    background-color: whitesmoke;
    width : 178px;
    height : 50px;
    border-radius: 15px;
    margin: 10px;
    border-color: #5d4cfc;
    text-align: center;

    
}

.header button:hover{
    background-color: #5d4cfc;
    color: whitesmoke;
    border-color: #5d4cfc;
}


.header button:active{
    background-color: #5d4cfc;
    color: whitesmoke;
    border-color: #5d4cfc;
}

.content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #5d4cfc;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    min-height: 700px;
   
}

.content h1{
    text-align: center;
}

.content p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;
   padding-left: 150px;
 
    letter-spacing: 2px;
  
  
}

.contentBox {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #5d4cfc;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    min-height: 700px;
    min-width: 2000px; /* Increased width to 2000px */
}

.contentBox table{
  margin-left: 10px;
}

.contentBox td{
    padding: 35px;
}

.testApp{
    background-color: #5d4cfc;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    min-height: 1000px;
}

.firstLine{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left : 100px;
    font-size: 30px;
    padding-right: 200px;
}
